body {
  margin: 0;
  padding: 8px;
  width: 100dvw;
  height: 100dvh;
  box-sizing: border-box;

  font-family: monospace;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

#llm {
  display: grid;
  height: 100%;
  width: 100%;
  grid-gap: 16px;
  grid-template-columns: 320px 1fr;
  grid-template-rows: 1fr fit-content(100%);
  grid-template-areas:
    "sidebar main"
    "sidebar prompt";
}

#sidebar {
  grid-area: sidebar;
  position: relative;
}

#main {
  grid-area: main;
  max-height: 100%;
  overflow: auto;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  box-sizing: border-box;
  border: 1px solid black;
}

p {
  margin: 0;
  padding: 0;
}

#end-message {
  display: grid;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  border: 1px solid black;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(8px);
  text-align: center;
  display: none;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#prompt {
  grid-area: prompt;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

#command {
  display: flex;
  gap: 8px;
}

#status {
  position: fixed;
  top: 16;
  right: 16;
  height: 16;
  width: 16;
  border: 1px solid black;
  border-radius: 10px;
  font-weight: bold;
}

#water {
  background-color: aqua;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;
  transition: height 1s ease;
  width: 100%;
  border: 1px solid black;
}

h1 {
  position: absolute;
  padding: 8px;
  width: 100%;
  text-align: center;
  bottom: 0;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid black;
  outline: none;
  font-family: monospace;
  font-size: 16px;
}

button {
  padding: 8px 16px;
  border: none;
  font-size: 16px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-family: monospace;
  width: 160px;
}

.ai,
.user {
  max-width: 60%;
  padding: 8px;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 16px;
}

.user {
  color: black;
  align-self: end;
  background-color: #eeeeee;
  text-align: left;
}

.ai {
  color: black;
  background-color: transparent;
}

.ai span,
.user span {
  display: block;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 4px;
}
